<!DOCTYPE html>
<html ng-app="congo">
<head>
    <title>Congo</title>
    <script src="scripts/angular.js"></script>
    <link href="content/bootstrap.css" rel="stylesheet" />
    <link href="content/bootstrap-theme.css" rel="stylesheet" />
    <link href="content/Style.css" rel="stylesheet" />
    <script src="scripts/routes.js"></script>
    <script src="ngmodules/angular-route.js"></script>
    <script src="controllers/CongoController.js"></script>
    <script src="controllers/LoginController.js"></script>
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
</head>
<body ng-controller="congoCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">Congo</a>
        <div class="search-bar">
            <div class="input-group">
                <select class="form-control" ng-model="selectedCat" ng-options="x.Name for x in data.Category">
                    <option value="" disabled selected>Categories</option>
                </select>
                <input type="text" class="form-control" name="search" placeholder="Search..">
                <button type="button" class="btn btn-default" ng-click="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="pull-right">
            <div class="navbar-controls">
                <div class="navbar-control">
                    <p class="navbar-control" style="color: #FFF">{{data.CurrentUser.UserName}}</p>
                </div>
                <div class="navbar-control">
                    <button type="button" class="btn btn-default" ui-sref="login">Log In</button>
                </div>
                <div class="navbar-control">
                    <button type="button" class="btn btn-default" ui-sref="createAccount">Sign Up</button>
                </div>
                <div class="navbar-control hidden">
                    <button type="button" class="btn btn-default" ui-sref="home">Account</button>
                </div>
                <div class="navbar-control hidden">
                    <button type="button" class="btn btn-default" ui-sref="home">Log Out</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div ui-view=""></div>
    </div>
    
    <footer>
        <hr>
        <div class="well">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="footer-link">Sitemap</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="footer-link">Contact Us</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="footer-link">Twitter</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="footer-link">Facebook</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">Copyright <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> {{data.Year}}, Congo LLC. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>   
</body>
</html>