<div class="container" ng-controller="cartCtrl"> 
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ProductSize">Product</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.Cart.Products">
                        <td>{{item.Name}}</td> 
                        <td>{{item.Price}}</td>
                        <td>{{item.Description}}</td>
                        <td><button class ="btn default-btn" ng-click="removeFromCart({id: item.ProductID, index: $index})">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.Cart.Customer.Name}}</td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.Cart.Customer.Address.Street + " " + data.Cart.Customer.Address.City + ", " + data.Cart.Customer.Address.State + " " + data.Cart.Customer.Address.Zip}}</td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.Cart.subtotal}}</td>
                </tbody>
            </table>
            <button class="btn default-btn pull-right" ui-sref="checkout">Checkout</button>
        </div>
    </div>
</div>