<div class="container">
    <span>&nbsp;</span>

    <div class="row" ng-show="data.message !== undefined">
        <div class="col-md-12" ng-class="data.message.class">
            {{ data.message.text }}
        </div>
    </div>

    <div class="row" ng-show="data.Cart !== undefined">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ProductSize">Product</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.Cart.Products">
                        <td>{{item.Name}}</td> 
                        <td>{{item.Description}}</td>
                        <td>{{item.Price | currency}}</td>
                        
                        <td><button class ="btn default-btn" ng-show="data.onOrderPage === undefined" ng-click="removeFromCart({id: item.ProductID, index: $index})">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.Cart.Customer.Name}}</td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.Cart.Customer.Address.Street + " " + data.Cart.Customer.Address.City + ", " + data.Cart.Customer.Address.State + " " + data.Cart.Customer.Address.Zip}}</td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.Cart.subtotal | currency}}</td>
                </tbody>
            </table>
            <button class="btn default-btn pull-right" ng-show="data.onOrderPage === undefined" ui-sref="checkout">Checkout</button>
        </div>
    </div>
</div>