<div class="container"> 
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ProductSize">Product</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Xbox 360</td>
                        <td>360.00</td>
                        <td>
                            This is the description for the xbox 360.
                            It is a very cool gaming console.
                            It's known for it's amazing games like something
                            something somethign something something
                        </td>
                        <td><button class ="btn default-btn">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                    </tr>
                </thead>
                <tbody>
                    <td>Ryan McKennon</td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <td>647 Pride Ave.</td>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <td>360.00</td>
                </tbody>
            </table>
            <button class="btn default-btn pull-right">Complete Order</button>
        </div>
    </div>
</div>