<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div>
                <input type="text" placeholder="Enter Your Address"></input>
                <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_YvUw38QL5Yvr6xfkSeRimZEx"
                    data-amount="999"
                    data-name="Stripe.com"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true">
                </script>
                </form>

            </div>
        </div>  
    </div>

</div>