<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group create-account">
                <div class="input-field">
                    <input type="text" class="form-control" name="firstname" placeholder="First Name"></input>
                </div>
                <div class="input-field">
                    <input type="text" class="form-control" name="lastname" placeholder="Last Name"></input>
                </div>
                <hr>
                <div class="input-field">
                    <input type="text" class="form-control" name="street" placeholder="Street"></input>
                </div>
                <div class="input-field">
                    <input type="text" class="form-control city" name="city" placeholder="City"></input>
                    <select name="state" class="form-control state" ng-model="selectState" ng-options="x for x in data.States">
                        <option value="" disabled selected>State</option>
                    </select>
                    <input type="text" class="form-control zip" name="zip" placeholder="Zipcode"></input>
                </div>
                <hr>
                <div class="input-field">
                    <input type="text" class="form-control" name="username" placeholder="Username"></input>
                </div>
                <div class="input-field">
                    <input type="text" class="form-control" name="password" placeholder="Password"></input>
                </div>
                <div class="input-field pull-right">
                    <button class="btn default-btn" ui-sref="home">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>