<div>
    <div>
        <input type="text" name="firstname" placeholder="First Name"></input>
    </div>
    <div>
        <input type="text" name="lastname" placeholder="Last Name"></input>
    </div>
    <div>
        <input type="text" name="street" placeholder="Street"></input>
    </div>
    <div>
        <input type="text" name="city" placeholder="City"></input>
    </div>
    <div>
        <input type="text" name="state" placeholder="State"></input>
    </div>
    <div>
        <input type="text" name="zip" placeholder="Zipcode"></input>
    </div>
    <div>
        <input type="text" name="username" placeholder="Username"></input>
    </div>
    <div>
        <input type="text" name="password" placeholder="Password"></input>
    </div>
    <div>
        <button>Sign Up</button>
    </div>
</div>