<div class="jumbotron">
    <h1>Welcome to the Congo</h1> 
    <p>Congo is the hottest new shopping site where you can find all the latest deals on the newest products.</p> 
</div>
<div class="featured-products">
    <h2>Featured Products</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div ng-repeat="item in data.Featured" class="col-md-3">
                <div ui-sref="product({ ProductID: item.ProductID })">
                    <div class="well" style="margin: 0">
                        <h2>{{item.Name}}</h2>
                        <img src="img/{{item.ImagePath}}" alt="{{item.ImagePath}}" class="img-responsive img-thumbnail">
                        <h4>{{item.Price | currency}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>