<div class="jumbotron">
    <h1>Congo Banner</h1> 
    <p>Congo is the hottest new shopping site where you can find all the latest deals on the newest products.</p> 
</div>
<div class="featured-products">
    <h2>Featured Products</h2>
    <hr>
    <div class="container">
        <div ng-repeat="item in data.Featured">
            <a ui-sref="product({ ProductID: item.ProductID })">
                <div class="well">
                    <h3>{{item.Name}}</h3>
                    <p>{{item.Description}}</p>
                    <h5>{{item.Price | currency}}</h5>
                </div>
            </a>
        </div>
    </div>
</div>