<div class="container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group log-in">
                <div class="alert alert-danger userLoginFail">The username/password combination was incorrect.</div>
                <div class="input-field">
                    <input type="text" class="form-control" ng-model="login.UserName" placeholder="Username"></input>
                </div>
                <div class="input-field">
                    <input type="text" class="form-control" ng-model="login.Password" placeholder="Password"></input>
                </div>
                <div class="input-field pull-right">
                    <button class="btn default-btn" ng-click="UserLogin()">Log In</button>
                    <button class="btn default-btn" ui-sref="createAccount">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>