<div ng-controller="productCtrl">
    <div>
        <a href="#/">Home</a>><a href="#/products">{{data.CurrentProduct.Category.Name}}</a>>{{data.CurrentProduct.Name}}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="img/{{item.ImagePath}}" alt="{{data.CurrentProduct.ImagePath}}" class="product-image img-responsive img-thumbnail">
            </div>
            <div class="col-md-6">
                <h3>{{data.CurrentProduct.Name}}</h3>
            </div>
            <div class="col-md-3">
                <h4>{{data.CurrentProduct.Price | currency}}</h4>
                <button ng-click="addToCart()">Add to cart</button>
            </div>
        </div>
        <span>&nbsp;</span>
        <div class="row">
            <div class="col-md-12">
                <p>{{data.CurrentProduct.Description}}</p>
            </div>
        </div>
    </div>
</div>