html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    color: #030;
    background-color: #efe;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold; 
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #272 0%, #040 100%);
    background-color: #040;
    border-color: #060;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:visited {
    font-size: 22px;
    color: #fea;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:active {
    font-size: 22px;
    color: #db7;
}

.navbar .input-group {
    display: flex;
}

.input-group .form-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold; 
    background-color: #fea;
    border: 1px solid #db7;
    color: #030;
}

.form-control {
    background-color: #fea;
    border: 1px solid #db7;
    color: #030;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #696;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #696;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #696;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #696;
}

.input-group-addon {
    background-color: #db7;
    border: 1px solid #db7;
    color: #030;
}

.input-group select.form-control {
    width: 16em;
}

.navbar .input-group button {
    width: 3em;
}

.btn-default, .btn-default:visited {
    color: #030;
    background-color: #973;
    background-image: linear-gradient(to bottom, #fd9 0%, #973 100%);
    text-shadow: 0 1px 0 #973;
    border-color: #a84;
}

.btn-default:hover, .btn-default:focus {
    background-color: #973;
    color: #030;
    text-shadow: 0 1px 0 #973;
    border-color: #a84;
}

.navbar-control {
    padding-left: 0.5em;
}

.navbar-control p {
    color: #fea;
    padding: .5em 0;
}

.navbar-control.hidden {
    display: none;
}

.search-bar {
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 1em; 
    width: 60em;
}

.navbar-controls {
    padding-top: 0.5em;
    padding-right: 1em;
    display: flex;
}

.content {
    min-height: 100%;
    height: 100%;
}

.jumbotron {
    background-color: #6c6;
}

a {
    color: #060;
}

a:hover, a:focus {
    color: #292;
}

.userLoginFail{
    visibility: hidden;
}

.ProductSize{
    width: 9em;
}

.featured-products {
    text-align: center;
}

.well {
    background-image: linear-gradient(to bottom, #fd9 0%, #973 100%);
    cursor: pointer;
}

.well.filters {
    cursor: default;
}

.featured-products .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.featured-products .well {
    margin: 0 2em;
    padding: 0.5em 3em;
}

.input-group.log-in {
    width: 100%;
    padding-top: 6em;
}

.input-group.create-account {
    width: 100%;
    padding-top: 4em;
}

.input-field {
    padding: 0.5em;
}

.form-control.city {
    width: 67.5%;
}

.input-group select.form-control.state {
    width: 16%;
}

.form-control.zip {
    width: 15%;
}

footer {
    clear: both;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 9em;
}

footer .well {
    margin: 0;
    height: 8em;
    padding: 19px 0;
    cursor: default;
}

.product-image {
    display: block;
    height: 150px;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #6c6;
}

footer .well hr {
    border-top: 1px solid #4a4;
}