html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold; 
}

.navbar-brand {
    font-size: 22px;
}

.navbar .input-group {
    display: flex;
}

.input-group .form-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold; 
}

.input-group select.form-control {
    width: 16em;
}

.navbar .input-group button {
    width: 3em;
}

.navbar-control {
    padding-left: 0.5em;
}

.navbar-control.hidden {
    display: none;
}

.search-bar {
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 1em; 
    width: 60em;
}

.navbar-controls {
    padding-top: 0.5em;
    padding-right: 1em;
    display: flex;
}

.content {
    min-height: 100%;
    height: 100%;
}

.userLoginFail{
    visibility: hidden;
}
.ProductSize{
    width: 9em;
}

.featured-products {
    text-align: center;
}

.featured-products .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.featured-products .well {
    margin: 0 2em;
    padding: 0.5em 3em;
}

.input-group.log-in {
    width: 100%;
    padding-top: 6em;
}

.input-group.create-account {
    width: 100%;
    padding-top: 4em;
}

.input-field {
    padding: 0.5em;
}

.form-control.city {
    width: 67.5%;
}

.input-group select.form-control.state {
    width: 16%;
}

.form-control.zip {
    width: 15%;
}

footer {
    clear: both;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 9em;
}

footer .well {
    margin: 0;
    height: 8em;
    padding: 19px 0;
}

.well.container-fluid {
    /*height: 8em;*/
}

.product-image {
    display: block;
    height: 150px;
    margin: 0 auto;
}

footer .well hr {
    border-top: 1px solid #cccccc;
}